@import "~bootstrap/scss/bootstrap";
@import "./styles/colors";

* {
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $primary-color;
}

.footer {
  border: 1px solid $primary-color;
  width: auto;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addcomment {
  height: 15rem;
}

.insights {
  background-image: url(./images/Capture.PNG);
  background-repeat: no-repeat;
  height: 23vh;
  background-color: black;
  background-size: 100px 37px;
}

.comments-list button.comment {
  border: #4a3802;
  border-style: solid;
  color: #ffc107;
}

.modal-content-comments {
  height: 354vh;
  background-color: #000000ba;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), #000), url(./images/Movie.svg);
  background-repeat: no-repeat;
  background-position: 0 97vh;
}

.btn-like {
  width: 32px;
  height: 32px;
  background-image: url(./images/like-empty.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-image: url(./images/like-filled.svg);
  }
}

.comments-list {
  padding: 29px;
  border: #ffc107;
  border-style: solid;

  li {
    margin-bottom: 19px;
    color: #f8f9fa;
  }
}

.modal-comments {
  background-color: #0000008a;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.recaptitle {
  color: white;
  font-size: 2rem;
  margin: 6px;
}

h5 {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.modal-title {
  margin-bottom: 10px;
}

.recap {
  color: #b1aeae;
}

.count {
  color: white;
  font-size: 2rem;
}

.reservation-list {
  overflow: scroll;
  height: 100px;

  li {
    display: flex;

    p {
      margin-right: 3px;
    }
  }
}

.container-comments {
  ul {
    li {
      color: white;

      p {
        color: #b1aeae;
      }
    }
  }
}

.Name {
  background-color: black;
}

#error,
.error-reservation {
  color: red;
  font-size: 14px;
}

.img-reservation {
  width: 100%;
  height: auto;
}

.modal-header {
  padding: 0;
  border: none;
}

.count-reservation {
  text-align: center;
}

.btn-color {
  background-color: $reservation-color;
}
