@import "~bootstrap/scss/bootstrap";
@import "./styles/colors";

* {
  list-style: none;
  font-family: "Poppins", sans-serif;
}

.footer {
  border: 1px solid $primary-color;
  width: auto;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addcomment{
  height: 15rem;
}

.insights {
  background-image: url('./images/Capture.PNG');
  background-repeat: no-repeat;
}

.comments-list{
  overflow: scroll;
}

.comment {
    box-shadow: 8px 8px 0rem 1px rgb(0 ,0, 0) !important;

}

.modal-content {
  height: 123vh;
}